@charset "utf-8";
/* CSS Document */

html {
	background-color: #FFF;
}
body {
	padding-top: 1em;
	padding-bottom:1em;
	margin: 0 auto;
	width: 50%;
	background-color: #DEEFEF;
}

h1 {
	text-align:center;
}
form {
	padding-left: 1em;
}
li {
	color: #333;
	/*text-decoration: underline;*/
	/*text-decoration: line-through;*/
	line-height: 1.2em;
	font-size: 1.2em;
}

.complete {
	color: #999;
	text-decoration: line-through;
}

.incomplete {
	color: #333;
}