@charset "utf-8";
/* CSS Document */
html {
	background:#DDD;
}
body {
	margin: 0 auto;
	padding: 0 0 1em 0;
	background-color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 50%;
	
}
h1 {
	background:#ffffff url('../images/moviebackground.jpg') no-repeat left top;
	margin: 0;
	padding-left: 0;
	line-height: 200px;
	width: 100%;
	text-align: center;
	font-size: 4em;
	text-transform: uppercase;
	
}
h2, dl {
	padding-left: 1em;

}
dl {
	color: #FFF;
}
a {
	color:#FF8040;
}