body {
	margin: 0 auto;
	padding: 0;
	background-color: #AFD8D8;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 80%;
}
h1 {
	text-align: center;
	padding-bottom: 1em;
}
form {
	text-align: center;
}
.myCircle {
	
	margin: 0;
	padding: 0;	
	background-color: #72C626;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: absolute;
	left: 700px;
	top: 200px;
	-moz-transition: all 250ms linear; 	
	-webkit-transition: all 250ms linear;	
	-ms-transition: all 250ms linear; 	
	-o-transition: all 250ms linear;
	text-align: center;
	font-size: 10em;
	line-height: 165px;
	border: 4px solid #000;
	
	
}