html {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#51A2A2;
	/*:#51A2A2;*/
}

body {
	margin: 0 auto;
	padding: 0;
	width: 50%;
	background-color:#D9ECEC;
	
}
h1 {
	margin: 0;
	padding-top:1em;
	text-align:center;
	color:#326565;
}
form {
	padding:1em 0 1em 0;
		
}
div {
	margin: 1em;
}
.user-available {
	font-size: 1.125em;
}

.user-available:before {
	content: "✔";
}
.user-available[data-status="unchecked"]{
	display:none;
}
.user-available[data-status="available"] {
	color:#090;
}
.user-available[data-status="unavailable"] {
	color:#f33;
}
.user-available[data-status="unavailable"]:before {
	content:"✖";
}



.email-available {
	font-size: 1.125em;
}

.email-available:before {
	content: "✔";
}
.email-available[data-status="unchecked"]{
	display:none;
}
.email-available[data-status="available"] {
	color:#090;
}
.email-available[data-status="unavailable"] {
	color:#f33;
}
.email-available[data-status="unavailable"]:before {
	content:"✖";
}




.pass-reqs {
	list-style:none;
}

.pass-reqs li:before {
	color: #f33;
	font-size:1.125em;
	content:"✖";
}
.pass-reqs li[data-state="achieved"]:before {
	color: #090;
	content: "✔";
}

.city-correct {
	font-size: 1.125em;
}


.is-available {
	color: #393;
	content: "✔";
}


.city-available:before {
	content: "✔";
}
.city-available[data-status="unchecked"]{
	display:none;
}
.city-available[data-status="available"] {
	color:#090;
}
.city-available[data-status="unavailable"] {
	color:#f33;
}
.city-available[data-status="unavailable"]:before {
	content:"✖";
}

fieldset {
	margin-left:1em;
	width: 50%;
}
#buttonsubmit {
	padding:1em;
	margin-left:1em;
}